@import "tailwindcss";

.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}


::-webkit-scrollbar {
  background: transparent;
  border: 2px solid rgb(0, 0, 0,0.1);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0,0.1);
  border-radius: 6px;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 1.5s ease-out forwards;
}

